PORT=3000
GEMINI_API_KEY=AIzaSyAndLvfyfCQRatLXOtk_fUKgwMD43Btzd4
PINECONE_API_KEY=pcsk_4ieqP5_93pbWH8Ew77oVVUkPmUddPqY69BnMAqAssTjPXTsVvn8q5SKbG6kopzRTZprWSZ
PINECONE_INDEX=guru-byd
PINECONE_DIMENSION=768
